/* simplebar */
@import 'simplebar-react/dist/simplebar.min.css';

@import 'antd/dist/reset.css';

/* fix Tailwind CSS border styles,form Tailwind CSS's preflight */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
};

::before,
::after {
  --tw-content: '';
};

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

/* Override base SVG style to work with Ant Design if using external icon sets */
svg {
  vertical-align: initial;
}

.dark {
  --background: 222.34deg 10.43% 12.27%;
  --background-deep: 220deg 13.06% 9%;
  --foreground: 0 0% 95%;
  --card: 222.34deg 10.43% 12.27%;
  --card-foreground: 210 40% 98%;
  --popover: 222.82deg 8.43% 12.27%;
  --popover-foreground: 210 40% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --primary-foreground: 0 0% 98%;
  --destructive: 359.21 68.47% 56.47%;
  --destructive-foreground: 0 0% 98%;
  --success: 144 57% 58%;
  --success-foreground: 0 0% 98%;
  --warning: 42 84% 61%;
  --warning-foreground: 0 0% 98%;
  --secondary: 240 5% 17%;
  --secondary-foreground: 0 0% 98%;
  --accent: 216 5% 19%;
  --accent-hover: 216 5% 24%;
  --accent-foreground: 0 0% 98%;
  --heavy: 216 5% 24%;
  --heavy-foreground: var(--accent-foreground);
  --border: 240 3.7% 22%;
  --input: 0deg 0% 100% / 10%;
  --input-placeholder: 218deg 11% 65%;
  --input-background: 0deg 0% 100% / 5%;
  --ring: 222.2 84% 4.9%;
  --radius: .5rem;
  --overlay: 0deg 0% 0% / 40%;
  --font-size-base: 16px;
  --sidebar: 222.34deg 10.43% 12.27%;
  --sidebar-deep: 220deg 13.06% 9%;
  --menu: var(--sidebar);
  --header: 222.34deg 10.43% 12.27%;
  --csstools-color-scheme--dark: initial;
  color-scheme: dark;
}